.grid-container {
    max-width: 1000px;
    padding: 200px 0;
    margin: auto;

    display: flex;
}

#grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;

    border: solid 1px white;

}

.square.active {
    background-color: blueviolet;
}

.form-select {
    min-width: 100px;
    width: 10%;
}