.grid-container {
    max-width: 1000px;
    padding-top: 200px;
    margin: auto;
}

#grid {
    display: flex;
    flex-flow: row wrap;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    border: solid 1px white;

}